.places h1 {
  font-size: 30px;
  padding-left: 10px;
}

.places ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.places ul li article {
  width: 390px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
}

.places ul li article h2 {
  font-size: 30px;
  text-align: center;
}
